Switch status Domoticz-NodeRED
[
    {
        "id": "a7d09ece.a0938",
        "type": "subflow",
        "name": "Set On/Off",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "3e08bdb4.5580a2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "3e08bdb4.5580a2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3e08bdb4.5580a2",
        "type": "template",
        "z": "a7d09ece.a0938",
        "name": "Set On/Off",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"command\": \"switchlight\", \"idx\": {{topic}}, \"switchcmd\": \"{{payload}}\" }",
        "output": "json",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "96a0db2f.2f5b88",
        "type": "subflow",
        "name": "Nvalue",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "943ecc08.53da1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 80,
                "wires": [
                    {
                        "id": "943ecc08.53da1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "943ecc08.53da1",
        "type": "function",
        "z": "96a0db2f.2f5b88",
        "name": "nvalue",
        "func": "msg.topic = msg.payload.idx;\nmsg.payload = msg.payload.nvalue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 70,
        "wires": [
            []
        ]
    },
    {
        "id": "5b009ac13f9c243f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2e6017d29b5c8ab",
        "type": "mqtt in",
        "z": "5b009ac13f9c243f",
        "name": "",
        "topic": "domoticz/out/#",
        "qos": "2",
        "datatype": "json",
        "broker": "7e095166.08574",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 20,
        "wires": [
            [
                "5e1222d8376632d0"
            ]
        ]
    },
    {
        "id": "5e1222d8376632d0",
        "type": "switch",
        "z": "5b009ac13f9c243f",
        "name": "Split IDX",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "229",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3513",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3457",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 540,
        "y": 20,
        "wires": [
            [],
            [],
            [
                "aec6652fe16e0ad9"
            ]
        ]
    },
    {
        "id": "73c42fa808629ce9",
        "type": "inject",
        "z": "5b009ac13f9c243f",
        "name": "make request",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "756afe3ea6b0a383"
            ]
        ]
    },
    {
        "id": "756afe3ea6b0a383",
        "type": "http request",
        "z": "5b009ac13f9c243f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:8080/json.htm?type=devices&rid=3457",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "576f1bc4815f0dc8"
            ]
        ]
    },
    {
        "id": "576f1bc4815f0dc8",
        "type": "json",
        "z": "5b009ac13f9c243f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 80,
        "wires": [
            [
                "2844b9456292843c"
            ]
        ]
    },
    {
        "id": "2844b9456292843c",
        "type": "function",
        "z": "5b009ac13f9c243f",
        "name": "nvalue",
        "func": "msg.payload = msg.payload.result[0].Data\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 80,
        "wires": [
            [
                "076be586c9de480f"
            ]
        ]
    },
    {
        "id": "076be586c9de480f",
        "type": "ui_switch",
        "z": "5b009ac13f9c243f",
        "name": "",
        "label": "Woonkamer Airco",
        "tooltip": "",
        "group": "68640e8b.cef9a",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "3457",
        "topicType": "str",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1150,
        "y": 40,
        "wires": [
            [
                "719a91b298c75a52",
                "33d61705a00e9fec"
            ]
        ]
    },
    {
        "id": "aec6652fe16e0ad9",
        "type": "subflow:96a0db2f.2f5b88",
        "z": "5b009ac13f9c243f",
        "name": "Nvalue",
        "env": [],
        "x": 760,
        "y": 20,
        "wires": [
            [
                "076be586c9de480f"
            ]
        ]
    },
    {
        "id": "719a91b298c75a52",
        "type": "subflow:a7d09ece.a0938",
        "z": "5b009ac13f9c243f",
        "name": "Set On/Off",
        "env": [],
        "x": 1410,
        "y": 40,
        "wires": [
            [
                "b874c0126d50ceed",
                "14be8db1a5376dba"
            ]
        ]
    },
    {
        "id": "33d61705a00e9fec",
        "type": "delay",
        "z": "5b009ac13f9c243f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1360,
        "y": 100,
        "wires": [
            [
                "8a0230f86c48504c"
            ]
        ]
    },
    {
        "id": "8a0230f86c48504c",
        "type": "function",
        "z": "5b009ac13f9c243f",
        "name": "Getdeviceinfo",
        "func": "msg.payload = {\"command\": \"getdeviceinfo\", \"idx\": 3457};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1520,
        "y": 100,
        "wires": [
            [
                "14be8db1a5376dba"
            ]
        ]
    },
    {
        "id": "b874c0126d50ceed",
        "type": "function",
        "z": "5b009ac13f9c243f",
        "name": "Switch goed zetten",
        "func": "var switchcmd = msg.payload.switchcmd;\nmsg.payload = switchcmd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 40,
        "wires": [
            [
                "076be586c9de480f"
            ]
        ]
    },
    {
        "id": "14be8db1a5376dba",
        "type": "mqtt out",
        "z": "5b009ac13f9c243f",
        "name": "",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "7e095166.08574",
        "x": 1710,
        "y": 100,
        "wires": []
    },
    {
        "id": "7e095166.08574",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "68640e8b.cef9a",
        "type": "ui_group",
        "name": "Klimaat",
        "tab": "d4c0b684.acffe8",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4c0b684.acffe8",
        "type": "ui_tab",
        "name": "Huize Heuts",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
